<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UEG - Desenvolvimento Web 2025</title>
</head>
<body>
    <h1>Cadastro de Aluno</h1>

    <form action="/alunos/cadastrar" method="post">
        <label>Nome: </label><br>
        <input type="text" id="name" name="nome"><br>
        
        <label>Matricula: </label><br>
        <input type="text" id="matricula" name="matricula"><br>
        
        <label>E-mail: </label><br>
        <input type="text" id="email" name="email"><br>
        
        <button type="submit">Criar Aluno</button>
    </form>

</body>
</html>